body {
  background-color: rgb(250, 245, 245);
  margin-top: -10px;
  margin-left: 10px;
}

nav h1 {
  font-size: 1.9rem;
  margin-left: 28px;
}

.row {
  display: flex;
}

.left {
  width: 20%;
}
.left nav {
  display: flex;
  flex-flow: column;
}

ul {
  display: flex;
  flex-flow: column;
}
ol {
  margin: 0 0 25px -50px;
  color: rgb(133, 133, 133);
}
ol:first-child {
  text-decoration-line: line-through;
  text-decoration-color: rgb(245, 80, 80);
}
button {
  width: 75%;
  color: white;
  background-color: rgb(245, 80, 80);
  border: 0 solid white;
  border-radius: 22px;
  padding: 0.7rem;
}
.right {
  margin: auto;
  margin-left: 3%;
  width: 75%;
  margin-top: 50px;
}
.main-start {
  display: flex;
}
.right-left-column {
  flex: 50%;
}
.right-right-column {
  flex: 25%;
  font-weight: 300;
  color: rgb(133, 133, 133);
}

.main-start h1 {
  font-size: 2.7rem;
}
.para-hr {
  background-color: rgb(245, 80, 80);
  width: 18%;
  height: 2px;
  margin-left: 0;
  border: 0px none white;
}
.main-images {
  display: flex;
  margin: auto;
  margin-top: 20px;
}
.main-images-column {
  flex: auto;
  margin-right: 20px;
  background-color: #fff;
  border: 0 none #fff;
  border-radius: 18px;
  height: auto;
  box-shadow: 10px 10px 20px rgb(209, 207, 207);
}

.main-images-column img {
  width: 100px;
  height: 90px;
  padding: 25px;
  border-radius: 50%;
}

.main-images-column h3 {
  text-align: center;
  margin-top: -9px;
  padding-bottom: 5px;
}

.right-right-column-down {
  display: none;
  font-weight: 300;
  color: rgb(133, 133, 133);
}
.hr-span {
  display: none;
}
.fa-icon {
  display: none;
}

@media (max-width: 567px) {
  .row {
    display: inline-block;
  }
  #ipsum {
    display: none;
  }
  .left nav {
    flex-flow: row;
    text-align: center;
    margin: auto;
  }
  nav h1 {
    order: 2;
    margin: 70px;
    margin-top: 30px;
  }
  .fa-icon {
    display: block;
    font-size: 32px;
    color: red;
    order: 3;
    margin-top: 35px;
  }
  ul {
    order: 1;
    margin-top: 99px;
    margin-left: -50px;
    margin-right: -34.5px;
    text-align: left;
  }

  .right {
    margin: 3%;
    width: 100%;
    margin-top: -10px;
  }
  .main-start {
    display: inline;
  }
  .main-start h1 {
    font-size: 1.7rem;
  }
  .right-left-column {
    margin: auto;
    display: inline-block;
    width: 100%;
  }
  .main-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-images-column {
    margin: auto;
    margin-left: 0;

    margin-bottom: 10px;
  }
  .main-images-column img {
    width: 80px;
    height: 80px;
    padding: 20px;
  }
  .main-images-column h3 {
    text-align: center;
    margin-top: -9px;
    padding-bottom: 2px;
    font-size: 1rem;
  }
  .right-right-column {
    display: none;
  }
  .right-right-column-down {
    display: inline-block;
    width: 95%;
  }

  .hr-span {
    display: inline-block;
    cursor: pointer;
  }
  .items-list {
    display: none;
  }
  #hr1 {
    margin-top: 40px;
    margin-left: 0;
    border: 0px none white;
    background-color: rgb(245, 80, 80);
    height: 2px;
    width: 15px;
  }
  #hr2 {
    margin-left: 0;
    border: 0px none white;
    height: 2px;
    background-color: rgb(245, 80, 80);
    margin-top: 0px;
    width: 25px;
  }
  #hr3 {
    margin-left: 0;
    border: 0px none white;
    margin-bottom: 35px;
    height: 2px;
    background-color: rgb(245, 80, 80);
    margin-top: 0px;
    width: 20px;
  }
}
